<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RAIL_DEVICEID" value="AaGLVWq3hJMYX-EmTEf0WJPXSef-u_ATi9vgUxI2kQTw6bjplEpUvjne28Zwyaudi2YUjcpokAKMXe-Vv6yXkARdlxZJxjYWpchE33scV-_16vhvW8h7pj4YMoau40qnDd0Tq7lY3JLq37bkbbx21Q4wdLNz9606"/>
		<add key="RAIL_EXPIRATION" value="1610691786896"/>
		<add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"/>
		<add key="Referer" value="https://kyfw.12306.cn/otn/passport?redirect=/otn/login/userLogin"/>
		<add key="Origin" value="https://kyfw.12306.cn"/>
		<add key="Domain" value="kyfw.12306.cn"/>
	</appSettings>
</configuration>